<h1> <%= @profile.name %>'s Profile </h1>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @profile.avatar.url(:medium) %> <br><br>
        <p> Pet's Name: <%= @profile.name %> </p> <br><br>
        <p> Pet's Location: <%= @profile.location %></p> <br><br>
        <p>Pet's Breed: <%= @profile.breed %></p> <br><br>
        <p>Pet's Favorite Food: <%= @profile.favorite_food %></p> <br><br>
        <p>Pet's Behavior: <%= @profile.behavior %></p> <br><br>
        <p>Pet's Favorite Activities: <%= @profile.activities %></p> <br><br>
      </div>
  <div class="col-md-4">
<!-- shows friends stats -->
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

 <!-- shows friend button  -->
      <%= render 'users/follow_form' %> <br>
    </div>
<!-- Shows User's PetSouds  -->
    <div class="col-md-4">
      <div>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
</div>
