<h1> <%= @profile.name %>'s Profile </h1>


<%= image_tag @profile.avatar.url(:medium) %> <br><br>
<h2> <%= @profile.name %> </h2> <br><br>
<%= @profile.location %> <br><br>
<%= @profile.breed %> <br><br>
<%= @profile.favorite_food %> <br><br>
<%= @profile.behavior %> <br><br>
<%= @profile.activities %> <br><br>

<!-- Shows PetSouds, does not work  -->
  <div>

        <%= render 'shared/feed' %>

  </div>

  <%= link_to "Back to Your Settings", current_user %> <br>
<%# render 'users/microposts', :microposts => @microposts %>
