<h1> Welcome to <%= @group.name %></h1>


<!-- <%# image_tag @group.avatar.url(:medium) %> <br><br> -->

<p> About this group</p><br>
 <%= @group.description %> </p> <br><br>

<%= link_to 'Join Group', join_group_path(@group) %> <br>
<%= link_to 'Leave Group', leave_group_path(@group) %> <br><br>

<% @group.users.each do |user| %>
  <%= user.username %> <br>
  <%= image_tag user.avatar.url(:thumb) %> <br><br>
<% end %>

<h3><%= @group.name %> Pet Dates</h3>

  <h5> PetDate Name: <%= @group.event_name %> </h5> <br>
  <h5> PetDate Location: <%= @group.event_location %> </h5> <br>
  <h5> PetDate: <%= @group.event_date %> </h5> <br>
  <h5> PetDate Time: <%= @group.event_time %> </h5> <br>
  <%= link_to "Add An Event!", edit_group_path %>
