<h1>Welcome, <%= @user.username %>!</h1>

<!-- <%= image_tag @user.avatar.url %> -->
<%= image_tag @user.avatar.url(:medium) %> <br><br>
<!-- <%= image_tag @user.avatar.url(:thumb) %> -->

<!-- wrapping the links in an if makes the edit and deletes impossible for other users -->

<% if @user == current_user  %>
  <%= link_to "Edit User Info", edit_user_path %> <br>
  <%= link_to "Edit Your Profile", edit_profile_path %> <br>
  <%= link_to "Go to Your Profile", profile_path %> <br>
  <%= link_to "Delete Your Account", destroy_user_path, method: :delete%>
<% end %>
